

.BarterOffers__container{
position: relative; 
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 2em; 
margin: 20px 10px 0 20px; 
max-width: 75vw;
max-height: 50vh;
overflow: scroll;
overflow-x: hidden;
scroll-behavior: smooth; 
padding-right: 70px;

}  





 @media(max-width:865px){
    .BarterOffers__container{
        max-height: 50vh;
        }
    } 

    @media(min-width:866px){
        .BarterOffers__container{
            max-height: 55vh;
        }
        } 


